In [27]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [28]:
df_dictionary = {}

### Read csvs

In [31]:
for w in ['light', 'heavy']:
    for c in ['cilia', 'nocilia']:
        df_dictionary[w+'-'+c] = pd.read_csv('big-'+ w +'-soft-'+ c + '.csv')

In [32]:
df_dictionary['light-nocilia']

   exp_id    norm1   norm2
0       1  1031.29  940.03
1       2  1042.39  955.34
2       3  1057.23  967.57
3       4  1038.94  963.43
4       5  1043.41  973.44
5       6  1034.02  965.19
6       7  1035.27  965.26
7       8  1037.54  967.67  NaN

### Add the difference column

In [33]:
for w in ['light', 'heavy']:
    for c in ['cilia', 'nocilia']:
        df = df_dictionary[w+'-'+c]
        df['diff'] = df[' norm1'] - df[' norm2']

In [40]:
df_dictionary['light-cilia']['diff'].describe()

count      9.000000
mean      92.326667
std       15.584693
min       74.550000
25%       85.380000
50%       89.260000
75%       95.250000
max      129.550000
Name: diff, dtype: float64

### Distributions of readings (diff)

In [42]:
for key in df_dictionary:
    print(key)
    print('%.2f +- %.2f' % (df_dictionary[key]['diff'].mean(), df_dictionary[key]['diff'].std()))

light-cilia
92.33 +- 15.58
light-nocilia
77.77 +- 9.84
heavy-cilia
461.30 +- 48.12
heavy-nocilia
278.58 +- 37.69

### Ratios heavy/light

#### Cilia

In [44]:
c = 'cilia'
print(df_dictionary['heavy-'+c]['diff'].mean() / df_dictionary['light-'+c]['diff'].mean())

4.996353527330494

#### No cilia

In [45]:
c = 'nocilia'
print(df_dictionary['heavy-'+c]['diff'].mean() / df_dictionary['light-'+c]['diff'].mean())

3.5820882088208816